pydantic==1.10.9
langchain_core~=0.1.30
langchain~=0.1.12
langchain_chroma~=0.1.0
sentence-transformers==2.7.0
pygithub==2.3.0
atlassian_python_api==3.41.11
markdownify==0.12.1
pillow==10.2.0
requests_openapi==1.0.5
duckduckgo_search==5.3.0
playwright==1.43.0
beautifulsoup4==4.12.3
google-api-python-client==2.100.0
wikipedia==1.4.0